.page-header {
    padding-bottom: 70px;
}

.logo-container {
    position: absolute;
    left: 15px;
    height: 50px;
    display: flex;
    align-items: center;
}

.logo-image {
    height: 100%;
    width: auto;
    object-fit: contain;
    margin-left: 50px;
}

@media (max-width: 900px) {
    .logo-image {
        margin-left: 0px;
    }
}

@media (max-width: 325px) {
    .logo-image {
        height: 80%;
    }
}

@media (max-width: 325px) {
    .logo-image {
        height: 70%;
    }
}

@media (max-width: 325px) {
    .navbar-nav {
        font-size: 13px;
    }
}

@media (max-width: 280px) {
    .navbar-nav {
        font-size: 12px;
    }
}

.navbar {
    padding: 30px;
    margin-bottom: 70px;
}

.navbar-nav li.nav-item {
    margin-left: auto;
    padding-right: 8px;
    font-weight: bold;
}

.background-color {
    background-color: #7d7d7d29;
}

.image-background {
    position: relative;
    background-image: url('../img/background2.png');
    background-size: 100% auto;
    animation: mirrorEffect 1500s linear infinite alternate;
}

/* Logic for background image animation (automatically going down) */
@keyframes mirrorEffect {
    0% {
        background-position: top center;
    }

    100% {
        background-position: bottom center;
    }
}

@media (min-width: 600px) and (max-width: 750px) {
    .image-background {
        animation-duration: 2400s;
    }
}

@media (min-width: 450px) and (max-width: 599px) {
    .image-background {
        animation-duration: 4000s;
    }
}

@media (min-width: 250px) and (max-width: 449px) {
    .image-background {
        animation-duration: 5000s;
    }
}

#web-dev-services {
    padding: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgba(29, 29, 29, 0.7);
    color: rgb(255, 255, 255);
    font-weight: 600;
}

@media (min-width: 992px) {
    #web-dev-services {
        width: 360px;
    }
}

@media (max-width: 576px) {
    #web-dev-services {
        margin-left: 15px;
        margin-right: 15px;
    }
}

.home-left-text {
    text-align: left;
    border-left: 2px solid black;
    padding-left: 30px;
}

@media (max-width: 767px) {
    .home-left-text {
        text-align: center;
        border-left: none;
        padding-left: 0px;
        padding-right: 0px;
    }
}

.home-list-items {
    text-align: left;
    list-style: none;
    padding: 0;
    margin: 0px;
    font-weight: 600;
}

@media (max-width: 767px) {
    .home-list-items {
        text-align: center;
        list-style: none;
        padding: 0;
        margin-bottom: 40px;
    }
}

.home-right-image {
    border-right: 2px solid black;
    padding-right: 30px;
}

@media (max-width: 767px) {
    .home-right-image {
        border-right: none;
        padding-left: 0px;
        padding-right: 0px;
    }
}

.profile-image {
    height: auto;
    border:rgb(0, 0, 0) 1px solid
}

@media (max-width: 400px) {
    .project-title {
        font-size: 24px;
    }
}

.home-presentation-text {
    margin-top: 5vw;
    margin-left: 12vw;
    margin-right: 12vw;
    margin-bottom: 30px;
    text-align: center;
    font-size: 20px;
}

@media (max-width: 767px) {
    .home-presentation-text {
        margin-top: 8vw;
        margin-left: 6vw;
        margin-right: 6vw;
        margin-bottom: 30px;
        text-align: center;
        font-size: 16px;
    }
}

.social-icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons-container img {
    margin-left: 25px;
    margin-right: 25px;
}

@media (max-width: 330px) {
    .social-icons-container img {
        margin-left: 5px;
        margin-right: 5px;
    }
}

.home-buttons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

/* Create a pseudo-element for the background image */
.body-image-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: inherit;
    /* Inherit the background image from the parent */
    background-size: inherit;
    /* Inherit the background size from the parent */
    background-repeat: inherit;
    /* Inherit the background repeat from the parent */
    background-position: inherit;
    /* Inherit the background position from the parent */
    transform: scaleY(-1);
    /* Flip the background image vertically */
}

.about-header-central-column {
    border-top: 2px solid black;
    padding-top: 70px;
    text-align: center;
}

.about-me-links {
    text-align: center;
    font-weight: 600;
    text-align: center;
}

.about-me-links a {
    color: black; 
    text-decoration: underline; 
    font-weight: 600;
    text-align: center;
}

@media (max-width: 400px) {
.about-me-links a {
    font-size: 13px;
}
}

.about-information {
    margin-top: 70px;
    text-align: center;
}

@media (max-width: 579px) {
    .about-information {
        margin-top: 0px;
    }
}

@media (min-width: 475px) and (max-width: 579px) {
    .about-information .col {
        width: 100%;
        flex: none;
        padding-left: 80px;
        padding-right: 80px;
        padding-top: 30px;
        text-align: justify;
    }
}

@media (max-width: 474px) {
    .about-information .col {
        width: 100%;
        flex: none;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 30px;
        text-align: justify;
    }
}

.question-column {
    flex: 1;
    padding-left: 180px;
    text-align: left;
}

.text-container {
    background-color: rgba(255, 253, 253, 0.7);
    padding: 5px;
}

@media (min-width: 910px) and (max-width: 1200px) {
    .question-column {
        padding-left: 100px;
    }
}

@media (min-width: 701px) and (max-width: 900px) {
    .question-column {
        padding-left: 60px;
        font-size: 14px;
    }
}

@media (min-width: 580px) and (max-width: 700px) {
    .question-column {
        padding-left: 60px;
        font-size: 14px;
    }
}

.answer-column {
    flex: 2;
    padding-top: 60px;
    padding-left: 120px;
    padding-right: 100px;
    text-align: justify;
}

@media (min-width: 701px) and (max-width: 900px) {
    .answer-column {
        flex: 2;
        padding-top: 100px;
        padding-left: 50px;
        padding-right: 50px;
        font-size: 14px;
    }
}

@media (min-width: 580px) and (max-width: 700px) {
    .answer-column {
        flex: 2;
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 40px;
        font-size: 14px;
    }
}

.accordion-button-background {
    background-color: rgba(146, 146, 146, 0.2);
}

.accordion-costum-background {
    background-color: rgba(227, 227, 227, 0.2);
}

.accordion-indented-list {
    margin-left: -22px
}

.projects-header {
    margin-top: 70px;
}

.section-header-central-column {
    border-top: 2px solid black;
    padding-top: 70px;
    text-align: center;
}

.projects-column {
    padding-bottom: 30px;
}

.projects-information {
    margin-top: 70px;
    text-align: center;
}

.back-to-top1 {
    margin-top: 50px;
}

.back-to-top-projects {
    margin-top: 50px;
    padding-bottom: 70px;
    border-bottom: 2px solid black;
}

.back-to-top2 {
    margin-top: 50px;
}

.back-to-top-testimonials {
    margin-top: 50px;
    padding-bottom: 70px;
    border-bottom: 2px solid black;
}

.back-to-top3 {
    margin-top: 50px;
}

.back-to-top-contact {
    margin-top: 50px;
    padding-bottom: 70px;
    border-bottom: 2px solid black;
}

.back-to-top-link {
    color: black;
    text-decoration: underline;
    font-size: 18px;
}

@media (max-width: 331px) {
    .back-to-top-link {
        color: black;
        text-decoration: underline;
        font-size: 15px;
    }
}

.back-to-top-footer {
    color: black;
    text-decoration: underline;
    font-size: 15px;
}

.testimonials-header {
    margin-top: 70px;
}

.testimonials-information {
    margin-top: 50px;
    text-align: center;
    padding-top: 20px;
    margin-left: 80px;
    margin-right: 80px;
    background-color: rgba(255, 253, 253, 0.7);
}

.individual-testimonials-text {
padding-bottom: 50px;
}

@media (max-width: 500px) {
    .testimonials-information {
        margin-top: 50px;
        text-align: center;
        padding-top: 20px;
        margin-left: 60px;
        margin-right: 60px;
    }
}

@media (max-width: 375px) {
    .testimonials-information {
        margin-top: 50px;
        text-align: center;
        padding-top: 20px;
        margin-left: 30px;
        margin-right: 30px;
    }
}

.contact-header {
    margin-top: 70px;
}

.contact-information {
    margin-top: 70px;
    text-align: center;
}

.footer-header {
    margin-top: 40px;
}






/* CSS FOR myFlix PROJECT */

.myFlix-title {
    color: black;
    font-size: 18px;
    padding-bottom: 70px;
    padding-top: 70px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #6aa84fff;
    border-top: black 2px solid;
    border-left: black 2px solid;
    border-right: black 2px solid;
    position: relative;
}

.myFlix-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 12.5%;
    width: 75%;
    height: 2px;
    background: linear-gradient(to right, transparent 0%, black 50%, transparent 100%);
}

.myFlix-catch-sentence {
    color: black;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #6aa84fff;
    border-bottom: black 2px solid;
    border-left: black 2px solid;
    border-right: black 2px solid;
}

.project-brief {
    margin-top: 40px;
    margin-right: 200px;
    margin-left: 200px;
}

.project-brief>div {
    padding-bottom: 20px;
}

/* Adjust margin as screen size decreases */
@media (max-width: 1300px) {
    .project-brief {
        margin-top: 40px;
        margin-right: 190px;
        margin-left: 190px;
    }
}

/* Adjust margin as screen size decreases */
@media (max-width: 1200px) {
    .project-brief {
        margin-top: 40px;
        margin-right: 170px;
        margin-left: 170px;
    }
}


/* Adjust margin as screen size decreases */
@media (max-width: 1150px) {
    .project-brief {
        margin-top: 40px;
        margin-right: 160px;
        margin-left: 160px;
    }
}

/* Adjust margin as screen size decreases */
@media (max-width: 1075px) {
    .project-brief {
        margin-top: 40px;
        margin-right: 150px;
        margin-left: 150px;
    }
}

/* Adjust margin as screen size decreases */
@media (max-width: 990px) {
    .project-brief {
        margin-top: 40px;
        margin-right: 140px;
        margin-left: 140px;
    }
}

/* Adjust margin as screen size decreases */
@media (max-width: 920px) {
    .project-brief {
        margin-top: 40px;
        margin-right: 130px;
        margin-left: 130px;
    }
}

/* Adjust margin as screen size decreases */
@media (max-width: 870px) {
    .project-brief {
        margin-top: 40px;
        margin-right: 120px;
        margin-left: 120px;
    }
}

/* Adjust margin as screen size decreases */
@media (max-width: 830px) {
    .project-brief {
        margin-top: 40px;
        margin-right: 110px;
        margin-left: 110px;
    }
}

/* Adjust margin as screen size decreases */
@media (max-width: 767px) {
    .project-brief {
        margin-top: 40px;
        margin-right: 100px;
        margin-left: 100px;
    }
}

/* Adjust margin as screen size decreases */
@media (max-width: 690px) {
    .project-brief {
        margin-top: 40px;
        margin-right: 90px;
        margin-left: 90px;
    }
}

/* Adjust margin as screen size decreases */
@media (max-width: 620px) {
    .project-brief {
        margin-top: 40px;
        margin-right: 80px;
        margin-left: 80px;
    }
}

/* Adjust margin as screen size decreases */
@media (max-width: 560px) {
    .project-brief {
        margin-top: 40px;
        margin-right: 70px;
        margin-left: 70px;
    }
}

/* Adjust margin as screen size decreases */
@media (max-width: 500px) {
    .project-brief {
        margin-top: 40px;
        margin-right: 60px;
        margin-left: 60px;
    }
}

/* Adjust margin as screen size decreases */
@media (max-width: 430px) {
    .project-brief {
        margin-top: 40px;
        margin-right: 50px;
        margin-left: 50px;
    }
}

/* Adjust margin as screen size decreases */
@media (max-width: 370px) {
    .project-brief {
        margin-top: 40px;
        margin-right: 40px;
        margin-left: 40px;
    }
}

/* Adjust margin as screen size decreases */
@media (max-width: 310px) {
    .project-brief {
        margin-top: 40px;
        margin-right: 30px;
        margin-left: 30px;
    }
}

/* Adjust margin as screen size decreases */
@media (max-width: 250px) {
    .project-brief {
        margin-top: 40px;
        margin-right: 20px;
        margin-left: 20px;
    }
}

/* Remove background color from carousel control buttons */
.carousel-control-prev,
.carousel-control-next {
    background-color: transparent;
    border: none;
}

/* Adjust position of carousel control icons */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-image: none;
    color: #000;
    font-size: 30px;
}

.carousel-words {
    width: 300px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

@media (max-width: 340px) {
    .video-left-word {
        margin-left: 10px;
    }
}

@media (max-width: 340px) {
    .video-right-word {
        margin-right: 10px;
    }
}

.custom-carousel-btn {
    width: 300px;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 30px;
    padding: 15px;
}

@media (min-width: 721px) {
    .work-summary {
        text-align: left;
    }
}

@media (max-width: 720px) {
    .work-summary {
        text-align: justify;
    }
}

@media (max-width: 340px) {
    .work-summary {
        text-align: justify;
        font-size: 15px;
    }
}

@media (max-width: 575px) {
    .development-information {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width: 575px) {
    .retrospective-information {
        padding-left: 50px;
        padding-right: 50px;
    }
}






/* CSS FOR To-Do-List PROJECT */

.tech-summary-to-do-list-app {
    text-align: center;
}

@media (max-width: 450px) {
    .tech-summary-to-do-list-app {
        text-align: justify;
    }
}